WebClient/WebClient/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vndToForegin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vnd" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vndToForeginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vndToForeginResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="foreginToVND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="foregin" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="foreginToVNDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="foreginToVNDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vndToForeginSoapIn">
    <wsdl:part name="parameters" element="tns:vndToForegin" />
  </wsdl:message>
  <wsdl:message name="vndToForeginSoapOut">
    <wsdl:part name="parameters" element="tns:vndToForeginResponse" />
  </wsdl:message>
  <wsdl:message name="foreginToVNDSoapIn">
    <wsdl:part name="parameters" element="tns:foreginToVND" />
  </wsdl:message>
  <wsdl:message name="foreginToVNDSoapOut">
    <wsdl:part name="parameters" element="tns:foreginToVNDResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="vndToForegin">
      <wsdl:input message="tns:vndToForeginSoapIn" />
      <wsdl:output message="tns:vndToForeginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="foreginToVND">
      <wsdl:input message="tns:foreginToVNDSoapIn" />
      <wsdl:output message="tns:foreginToVNDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vndToForegin">
      <soap:operation soapAction="http://tempuri.org/vndToForegin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="foreginToVND">
      <soap:operation soapAction="http://tempuri.org/foreginToVND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vndToForegin">
      <soap12:operation soapAction="http://tempuri.org/vndToForegin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="foreginToVND">
      <soap12:operation soapAction="http://tempuri.org/foreginToVND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44345/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44345/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>